
@media (max-width:1048px){
    .header-search-engine {
        width: 400px;
    }
    .main-menu {
        width: 136px;
    }
    .main-menu ul.top-menu li a {
        font-size: 10px;
    }
    .main-menu ul.top-menu li a i {
        font-size: 13px;
        width: 5px;
    }
    .main-menu h3.sub-head {
        font-size: 10px;
    }
    .main-menu ul.sub-menu li img {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }
    .main-menu ul.sub-menu li a {
        font-size: 10px;
    }
    .main-menu h3.fac-head {
        font-size: 10px;
    }
    .main-menu h3.fac-head {
        font-size: 10px;
    }
    .main-menu ul.fac-menu li a {
        font-size: 10px;
    }
    .main-menu ul.fac-menu li a i {
        font-size: 13px;
        width: 5px;
    }
    .main-menu ul.g-menu-one li a {
        font-size: 9px;
        line-height: 11px;
    }
    .main-menu ul.g-menu-two li a {
        font-size: 9px;
        line-height: 11px;
    }
}
@media (max-width:1015px){
    .header-search-engine {
        width: 400px;
    }
}
@media (max-width:992px){
}
@media (max-width:845px){
    .header-search-engine {
        width: 350px;
    }
    .content-tags ul li a {
        font-size: 9px;
    }
}
@media (max-width:758px){
    .header-search-engine {
        width: 200px;
    }
    .content-tags ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    .content-tags ul li {
        margin: 2px 1px;
    }
}
@media (max-width:612px) {
    .main-menu {
        width: 119px;
    }
}
@media(max-width:591px){
    .header-search-engine{
        display:none;
    }
    .search-engine {
        text-align: left;
    }
    .header-search-btn {
        border-radius: 3px;
    }

}

@media(max-width:576px){
 
    .header-logo h1 {
        font-size: 12px;
    }
    .header-icons a {
        padding: 6px 6px;
        font-size: 12px;
    }
    ul.header-icons li .check {
        top: 9px;
        left: 6px;
    }
    .header-icons img {
        width: 20px;
        margin-left: 4px;
    }
    .header-search-btn {
        padding: 2px 7px;
        margin-left: 0px;
        font-size: 10px;
    }
    .main-menu a {
        font-size: 7px !important;
    }
    .main-menu a i {
        font-size: 8px !important;
        margin-right: 7px !important;
    }
    .main-menu h3 {
        font-size: 8px !important;
    }
    .main-menu {
        width: 88px;
        padding-left: 5px;
        top:43px;
    }
}